@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f1f2f2;
  --color-secondary: #c8d8e1;
  --color-tertiary: #00adc1;
  --color-quaternary: #2d7282;
}

body {
  background-color: var(--color-primary);
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 5px;
}
::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background-color: #888;
  border-radius: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
