@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --color-primary: #fbe4d8;
  --color-secondary: #dfb6b2;
  --color-tertiary: #00adc1;
  --color-quaternary: #2d7282;
  --color-text: #190019; */
  --color-primary: #f1f2f2;
  --color-secondary: #c8d8e1;
  --color-tertiary: #00adc1;
  --color-quaternary: #2d7282;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
}
.avatar-container {
  background-color: var(--color-secondary);
}
main {
  background-color: var(--color-secondary);
}

@media (max-width: 960px) {
  body {
    overflow: auto;
  }
  .header {
    position: sticky;
    top: 0;
  }
}
@media (min-width: 960px) {
  body {
    overflow: hidden;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "header header" "sidebar main";
  }
  .header {
    grid-area: "header ";
    grid-column: 1 / -1;
  }
  .sidebar {
    grid-area: "sidebar ";
    padding: 0.5rem;
    max-height: calc(100vh - 70px);
  }
  .sidebar li :hover {
    background-color: var(--color-secondary);
    /* background-color: #e0e0e0; */
  }
  .main {
    grid-area: "main ";
    border-radius: 1rem 0 0 0;
    padding: 1rem 0;
  }
}

@media (min-width: 1140px) {
  body {
    grid-template-columns: 250px 1fr;
  }
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 5px;
}
::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background-color: #888;
  border-radius: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
