@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --color-primary: #fbe4d8;
  --color-secondary: #dfb6b2;
  --color-tertiary: #00adc1;
  --color-quaternary: #2d7282;
  --color-text: #190019; */
  --color-primary: #f1f2f2;
  --color-secondary: #c8d8e1;
  --color-tertiary: #00adc1;
  --color-quaternary: #2d7282;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
}
.avatar-container {
  background-color: var(--color-secondary);
}
/* main {
  background-color: var(--color-secondary);
} */

@media (max-width: 960px) {
  body {
    overflow: auto;
  }
  .header {
    position: sticky;
    top: 0;
  }
}
@media (min-width: 960px) {
  body {
    overflow: hidden;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "header header" "sidebar main";
  }
  .header {
    grid-area: "header ";
    grid-column: 1 / -1;
  }
  .sidebar {
    grid-area: "sidebar ";
    padding: 0.5rem;
    max-height: calc(100vh - 70px);
  }
  .sidebar li :hover {
    background-color: var(--color-secondary);
    /* background-color: #e0e0e0; */
  }
  .main {
    grid-area: "main ";
    border-radius: 1rem 0 0 0;
  }
}

@media (min-width: 1140px) {
  body {
    grid-template-columns: 250px 1fr;
  }
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 5px;
}
::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background-color: #888;
  border-radius: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
